<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Parish Information Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
</head>

<body class="bg-gray-100">
	<div class="flex h-screen items-center justify-center">
		<div
			class="w-full max-w-2xl mx-4 md:mx-auto rounded bg-white p-14 shadow-md">
			<h2 class="mb-4 text-center text-2xl font-bold">Add Financial Record</h2>
			<form method="post" role="form" th:object="${userData}"
				enctype="multipart/form-data"
				th:action="@{/finance/add-financial-record}" class="space-y-4">

				<div class="grid grid-cols-2 gap-4">
					<div class="mb-4">
						<label for="staff_id" class="block text-sm font-medium text-gray-600">Staff ID</label> 
						<input type="text" id="staff_id" name="staff_id"
							th:value="${staff_id.id + ' - ' + staff_id.fname}" readonly
							class="w-full rounded border p-2 bg-gray-200 focus:outline-none" />
					</div>
				</div>

				<div class="grid grid-cols-2 gap-4">
					<div class="mb-4">
						<label for="transaction_type" class="block text-sm font-medium text-gray-600">Transaction Type</label>
						<select th:field="*{transaction_type}" name="transaction_type" id="transaction_type"
							class="mt-1 w-full rounded border p-2 focus:border-blue-300 focus:outline-none focus:ring"
							required>
							<option value="Income" class="text-gray-800">Income</option>
							<option value="Expense" class="text-gray-800">Expense</option>
						</select>
					</div>

					<div class="mb-4">
						<label for="date" class="block text-sm font-medium text-gray-600">Date Issued</label> 
						<input type="date" id="date" name="date"
							th:field="*{date}" th:value="*{date}" required
							class="w-full rounded border p-2 focus:border-blue-300 focus:outline-none focus:ring" />
						<p th:errors="*{date}" th:if="${#fields.hasErrors('date')}"
							class="mt-1 text-sm text-red-500"></p>
					</div>
				</div>

				<div class="grid grid-cols-2 gap-4">
					<div class="mb-4">
						<label for="notes"
							class="block text-sm font-medium text-gray-600">Notes</label>
						<input type="text" id="notes" name="notes"
							th:field="*{notes}" placeholder="Enter Note" required
							class="w-full rounded border p-2 focus:border-blue-300 focus:outline-none focus:ring" />
						<p th:errors="*{notes}"
							th:if="${#fields.hasErrors('notes')}"
							class="mt-1 text-sm text-red-500"></p>
					</div>
				</div>

				<div>
					<div class="mb-4">
						<label for="description"
							class="block text-sm font-medium text-gray-600">Description</label> <input
							type="text" id="description" name="description" th:field="*{description}"
							placeholder="Enter Description" required
							class="w-full rounded border p-2 focus:border-blue-300 focus:outline-none focus:ring" />
						<p th:errors="*{description}" th:if="${#fields.hasErrors('description')}"
							class="mt-1 text-sm text-red-500"></p>
					</div>
				</div>

				<div class="grid grid-cols-2 gap-4">
					<div class="mb-4">
						<label for="amount"
							class="block text-sm font-medium text-gray-600">Amount</label>
						<input type="number" id="amount" name="amount"
							placeholder="Enter Amount" required
							class="w-full rounded border p-2 focus:border-blue-300 focus:outline-none focus:ring" />
						<p th:errors="*{amount}"
							th:if="${#fields.hasErrors('amount')}"
							class="mt-1 text-sm text-red-500"></p>
					</div>
					
					<div class="mb-4">
						<label for="balance"
							class="block text-sm font-medium text-gray-600">Balance</label> 
						<input type="number" id="balance" name="balance" 
							th:value="${userData.balance}" readonly
							class="w-full rounded border p-2 bg-gray-200 focus:outline-none" />
					</div>
				</div>
				
				<div class="flex items-center justify-end">
					<button type="submit"
						class="rounded bg-green-600 p-2 text-white focus:border-blue-300 focus:outline-none focus:ring">File Record</button>
					<a th:href="@{/finance}"
						class="ml-2 rounded bg-red-500 p-2 text-white focus:border-blue-300 focus:outline-none focus:ring"
						style="background-color: red; border-color: red">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>