<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Parish Information Management System</title>
<!-- Include Tailwind CSS stylesheet -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
</head>

<body class="bg-gray-100">
	<div class="flex h-screen items-center justify-center">
		<div class="w-full max-w-md rounded bg-white p-6 shadow-md">
			<h2 class="mb-4 text-2xl font-bold">Edit User</h2>
			<form method="post" role="form" th:object="${userData}"
				th:action="@{/users/edit/{id}(id=${userData.id})}" class="space-y-4">
				<div>
					<label class="block text-sm font-medium text-gray-600">First
						Name</label> <input type="text" id="fname" name="fname"
						th:field="*{fname}" placeholder="Enter first name" required
						class="mt-1 w-full rounded border p-2 focus:border-blue-300 focus:outline-none focus:ring" />
					<p th:errors="*{fname}" th:if="${#fields.hasErrors('fname')}"
						class="mt-1 text-sm text-red-500"></p>
				</div>

				<div>
					<label class="block text-sm font-medium text-gray-600">Middle
						Name</label> <input type="text" id="mname" name="mname"
						th:field="*{mname}" placeholder="Enter middle name" required
						class="mt-1 w-full rounded border p-2 focus:border-blue-300 focus:outline-none focus:ring" />
					<p th:errors="*{mname}" th:if="${#fields.hasErrors('mname')}"
						class="mt-1 text-sm text-red-500"></p>
				</div>

				<div>
					<label class="block text-sm font-medium text-gray-600">Last
						Name</label> <input type="text" id="lname" name="lname"
						th:field="*{lname}" placeholder="Enter last name" required
						class="mt-1 w-full rounded border p-2 focus:border-blue-300 focus:outline-none focus:ring" />
					<p th:errors="*{lname}" th:if="${#fields.hasErrors('lname')}"
						class="mt-1 text-sm text-red-500"></p>
				</div>

				<div>
					<label class="block text-sm font-medium text-gray-600">Email</label>
					<input type="email" id="email" name="email" th:field="*{email}"
						placeholder="Enter email address" required
						class="mt-1 w-full rounded border p-2 focus:border-blue-300 focus:outline-none focus:ring" />
					<p th:errors="*{email}" th:if="${#fields.hasErrors('email')}"
						class="mt-1 text-sm text-red-500"></p>
				</div>
				<div class="mt-4">
					<label for="status" class="block text-sm font-medium text-gray-600">Employment
						Status</label> <select th:field="*{employementStatus}" name="status"
						id="status"
						class="mt-1 w-full rounded border p-2 focus:border-blue-300 focus:outline-none focus:ring"
						required>
						<option value="Active" class="text-gray-800">Active</option>
						<option value="Inactive" class="text-gray-800">Inactive</option>
					</select>
				</div>
				<div class="mt-4">
					<label for="role" class="block text-sm font-medium text-gray-600">Role</label>
					<select th:field="*{role}" name="role" id="role"
						class="mt-1 w-full rounded border p-2 focus:border-blue-300 focus:outline-none focus:ring"
						required>
						<option value=1 class="text-gray-800">User</option>
						<option value=2 class="text-gray-800">Admin</option>
						<option value=3 class="text-gray-800">Finance</option>
						<option value=4 class="text-gray-800">Executive Assistant</option>
					</select>
				</div>


				<div class="flex items-center">
					<button type="submit"
						class="rounded bg-green-600 p-2 text-white focus:border-blue-300 focus:outline-none focus:ring">Submit
						Changes</button>
					<a th:href="@{/users}"
						class="ml-2 rounded bg-red-500 p-2 text-white focus:border-blue-300 focus:outline-none focus:ring"
						style="background-color: red; border-color: red">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
