<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>Parish Information Management System</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body class="font-sans bg-gray-100">
<nav class="bg-gradient-to-r from-green-500 to-green-700 text-white shadow-md">
      <div class="container mx-auto flex flex-col items-center justify-between p-4 lg:flex-row">
        <a class="mb-4 flex items-center rounded px-3 py-2 text-lg transition duration-300 ease-in-out hover:bg-green-400 hover:text-gray-800 lg:mb-0" th:href="@{/dashboard}">
          <i class="material-icons mr-2 text-2xl">account_circle</i>
          <span class="text-white-500 text-lg font-light italic">WELCOME!&nbsp;</span>
          <span class="text-gray font-semibold" th:text="${user}"></span>
        </a>

        <div class="lg:flex lg:w-auto lg:items-center">
          <ul class="flex list-none space-x-4">
            <li class="nav-item"><a class="rounded px-3 py-2 transition duration-300 ease-in-out hover:bg-green-400 hover:text-gray-800" th:href="@{/finance}">Finance</a></li>
            <li class="nav-item"><a class="rounded px-3 py-2 transition duration-300 ease-in-out hover:bg-green-400 hover:text-gray-800" th:href="@{/users}">Staff</a></li>
            <li class="nav-item"><a class="rounded px-3 py-2 transition duration-300 ease-in-out hover:bg-green-400 hover:text-gray-800" th:href="@{/logout}">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
<div>
    <div>
        <h2>Financial Records</h2>
    </div>
    
    <div>
    	<a th:href="@{/users/finance/add-financial-record}">+ Add New Record</a>
    </div>
    
    <table>
        <thead>
            <tr>
            	<th>ID</th>
                <th>Notes</th>
                <th>Description</th>
                <th>Income</th>
                <th>Expense</th>
                <th>Balance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "finance : ${financeDto}">
                <td th:text = "${finance.id}"></td>
                <td th:text = "${finance.notes}"></td>
                <td th:text = "${finance.description}"></td>
                <td th:text = "${finance.income}"></td>
                <td th:text = "${finance.expense}"></td>
                <td th:text = "${finance.balance}"></td>
            	<td>
	           		<a th:href = "@{/users/finance/edit-financial-record/{id}(id=${finance.id})}">Edit</a>
	           		<a th:href = "@{/users/{id}(id=${finance.id})}">Delete</a>
            	</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>