<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>Parish Information Management System</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<nav class="bg-green-600">
        <div class="container mx-auto flex items-center justify-between p-4">
            <a class="text-white text-lg font-bold" th:href="@{/dashboard}" >Welcome <span th:text="${user}"></span></a>
            
            <div class="lg:flex lg:items-center lg:w-auto">
                <ul class="flex list-none space-x-4">
                    <li class="nav-item"><a class="text-white hover:text-gray-300 px-3 py-2" th:href="@{/users/finance}">Finance</a></li>
                    <li class="nav-item"><a class="text-white hover:text-gray-300 px-3 py-2" th:href="@{/users}">Staff</a></li>
                    <li class="nav-item"><a class="text-white hover:text-gray-300 px-3 py-2" th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
<div>
    <div>
        <h2>Financial Records</h2>
    </div>
    
    <div>
    	<a th:href="@{/users/finance/add-financial-record}">+ Add New Record</a>
    </div>
    
    <table>
        <thead>
            <tr>
            	<th>ID</th>
                <th>Notes</th>
                <th>Description</th>
                <th>Income</th>
                <th>Expense</th>
                <th>Balance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "finance : ${financeDto}">
                <td th:text = "${finance.id}"></td>
                <td th:text = "${finance.notes}"></td>
                <td th:text = "${finance.description}"></td>
                <td th:text = "${finance.income}"></td>
                <td th:text = "${finance.expense}"></td>
                <td th:text = "${finance.balance}"></td>
            	<td>
	           		<a th:href = "@{/users/finance/edit-financial-record/{id}(id=${finance.id})}">Edit</a>
	           		<a th:href = "@{/users/{id}(id=${finance.id})}">Delete</a>
            	</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>