<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registration and Login System</title>
<script src="https://cdn.tailwindcss.com"></script>
<link href="/css/design.css" rel="stylesheet" />
</head>
<body>
	<div>
		
		<div class="flex justify-center items-center flex-col h-screen hedvig">
			<form method="post" role="form" th:action="@{/login}" id="form"
				class="flex flex-col space-y-5 gloss">
				<h2 class="text-center text-6xl">Login</h2>
				<div th:if="${param.logout}">You've Successfully Logout</div>
				<div th:if="${param.error}">
					Invalid Email or Password
				</div>
				<div>
					<input type="text" id="username" name="username" required
						placeholder="Email"
						class="w-full bg-transparent form-edit p-2 placeholder-gray-900" />
				</div>
				<div>
					<input type="password" id="password" name="password" required
						placeholder="Password"
						class="w-full bg-transparent form-edit p-2 placeholder-gray-900" />
				</div>
				<div class="flex flex-col">
					<button type="submit"
						class="bg-green-600 hover:bg-green-800 text-white py-2 px-4 rounded">Submit</button>
					<br /> <span><a th:href="@{/register}">Don't Have An
							Account?</a> </span>
				</div>
			</form>
		</div>
	</div>
</body>
</html>