<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parish Information Management System</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/css/design.css" rel="stylesheet" />
</head>
<body>
    <div class="flex justify-center items-center flex-col min-h-screen hedvig">
        <form method="post" role="form" th:action="@{/register/save}"
              th:object="${user}" class="flex flex-col space-y-5 gloss w-full max-w-md p-4 gloss">
            <h2 class="text-center text-6xl">Registration</h2>
            <div th:if="${param.success}" class="text-center bg-green-600 rounded">
                <div>You have successfully registered our app!</div>
            </div>
            <div th:if="${param.error}" class="text-center bg-red-600 rounded">
                <div>There is already an account registered with the same email!</div>
            </div>

            <div class="mb-4">
                <input id="employementDate"
                       name="employementDate" 
                       th:field="*{employementDate}" type="date" required placeholder="Employment Date" 
                       class="w-full bg-transparent form-edit p-2 placeholder-gray-900"/>
                <p th:errors="employementDate" class="text-red-500" th:if="${#fields.hasErrors('employementDate')}"></p>
            </div>

            <div class="mb-4">
                <input id="fname" name="fname"
                       th:field="*{fname}" type="text"
                       required placeholder="Enter First Name" class="w-full bg-transparent form-edit p-2 placeholder-gray-900"/>
                <p th:errors="fname" class="text-red-500" th:if="${#fields.hasErrors('fname')}"></p>
            </div>

            <div class="mb-4">
                <input id="mname" name="mname"
                       placeholder="Enter Middle Name" th:field="*{mname}" type="text"
                       required class="w-full bg-transparent form-edit p-2 placeholder-gray-900"/>
                <p th:errors="*{lname}" class="text-red-500" th:if="${#fields.hasErrors('mname')}"></p>
            </div>

            <div class="mb-4">
                <input id="lname" name="lname"
                       placeholder="Enter last name" th:field="*{lname}" type="text"
                       required class="w-full bg-transparent form-edit p-2 placeholder-gray-900"/>
                <p th:errors="*{lname}" class="text-red-500" th:if="${#fields.hasErrors('lname')}"></p>
            </div>

            <div class="mb-4">
                <input id="email" name="email"
                       placeholder="Enter email address" th:field="*{email}" type="email"
                       required class="w-full bg-transparent form-edit p-2 placeholder-gray-900"/>
                <p th:errors="*{email}" class="text-red-500" th:if="${#fields.hasErrors('email')}"></p>
            </div>

            <div class="mb-4">
                <input id="password" name="password"
                       placeholder="Enter password" th:field="*{password}"
                       type="password" required class="w-full bg-transparent form-edit p-2 placeholder-gray-900"/>
                <p th:errors="*{password}" class="text-red-500" th:if="${#fields.hasErrors('password')}"></p>
            </div>

            <div class="flex flex-col">
                <button type="submit" class="bg-green-600 hover:bg-green-800 text-white px-4 py-3 rounded">Register</button>
                <br/>
                <span class="text-gray-1000 italic">Already registered? <a class="text-gray-1000 font-semibold italic" th:href="@{/login}">Login here</a></span>
            </div>
        </form>
    </div>
</body>
</html>
